

.header {
  height:100px;
}

#logo {
  margin-top:20px;
  margin-left:20px;
  height:40%
}

#menu {
  margin-top: 20px;
  float:right;
  margin-right: 20px;
  height:40%;
}

#overlay{
  background-color:black;
  text-align:center;
}

.tittle{
  position:relative;
  display: block;
}

#image-spash {
  width:100%;
  opacity:0.7;
  vertical-align:bottom;
}


.tittle p {
  top: 50px;
  bottom:50px;
  font-family: serif;
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
  color: white;
}
button{
  background-color:#FFCC33;
  border-width: 3px;
  border-style: solid;
  border-color: #cc6600;
  border-radius:100px;
  height:30px;
  width:130px;
  font-size:15px;
  color:#cc6600;
  font-family: Times;
}


.container {
  background-color:#CCCCCC;
  height:30%;
}

.container2{
  display:inline-block;
  position:static;
  margin-left:10%;

}

.container2 img {
  height:50px;
  width: 50px;
}

.container2 p {
  font-size: 16px;
}

.cat{
  float:left;
  margin-top: 20px;
}

#imgcat{
  margin-top:20px;
  float:left;
}
#textcat{
  float:right;
  width:300px;
  position: relative;
  margin-left:20px;
}
/*word*/

.word{
  float:right;
  margin-top: 20px;

}

#imgword{
  float:left;
  margin-top:20px;

}

#textword{
  float:right;
  width:300px;
  margin-left:20px;
}


.container3{
  display:inline-block;
  margin-left:10%;

}

.container3 img {
  height:50px;
  width: 50px;
}

.container3 p {
  font-size: 16px;
}
/*swim */

.swim{
  float:left;
  margin-bottom:20px;


}

#imgswim{
  float:left;
  margin-top: 20px;

}

#textswim{
  float:right;
  width:300px;
  margin-left:20px;
}

/*colums*/

.colums{
  float:right;

}

#imgcolum{
  float:left;
  margin-top: 20px;
}

#textcolum{
  float:right;;
  width:300px;
  margin-left:20px;

}



.end{
  position:relative;
  height:20px;
  background-color: darkgrey;
  text-align:left;
  font-size: 10px;
  color: white;
}

.end p{
text-align:left;
font-size: 10px;
color: white;
margin-left:2%;

}
